.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20rem;
  text-align: center;
  background-color: #B0BD4B;
}

@font-face {
  font-family: 'Custom Font';
  src: url("/fonts/CHICKENPie.ttf") format("truetype");
}
