
.Timer {
	font-size: 10rem;
	font-family: Custom Font, Monaco, Arial, Helvetica, sans-serif;
}

.TimerContainer {
	background-color: #D5DDBD;
	border-radius: 1rem;
}

.Button {
	background-color: #D3D0A9;
	width: 10rem;
	height: 3rem;
	font-size: 1.5rem;
	border-radius: 1rem;
	cursor: pointer;
}
